<div ng-init="getClinsAndPats()">
	<div>
		<div>
			<h4>Patients</h4>

			<div ng-show="success" class="alert alert-success" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				{{success}}
			</div>
		    <input type="text" class="form-control" placeholder="Search for..." />
			<table class="table" id="assign-table">
					<tr>
						<th>Title</th>
						<th>Full Name</th>
						<th>Email</th>
						<th></th>

					</tr>
					<tr ng-repeat="pat in allPatients">
						<td ng-bind="pat.account.title"></td>
						<td ng-bind="pat.account.fullName"></td>
						<td ng-bind="pat.account.email"></td>
						<td>
							<button class="btn btn-primary" ng-click="assignClinToPat(pat.account._id)">
								Assign
							</button>
						</td>
					</tr>
			</table>
		</div>
	</div>
</div>