<section class="container" data-ng-controller="AccountsController as accCtrl" data-ng-init="accCtrl.getClinicians()">
	<h1>Clinicians</h1>
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<tr>
				<th>Title</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Specialty</th>
				<th>Email</th>
				<th>Username</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			<tr data-ng-repeat="clin in accCtrl.clinicians">
				<td data-ng-bind="clin.account.title"></td>
				<td data-ng-bind="clin.account.firstName"></td>
				<td data-ng-bind="clin.account.lastName"></td>
				<td data-ng-bind="clin.specialty"></td>
				<td data-ng-bind="clin.account.email"></td>
				<td data-ng-bind="clin.account.username"></td>
				<td>
					<button class="btn btn-link" ng-click="viewAccount(clin.account._id)">View</button>
				</td>
				<td>
					<button class="btn btn-link" ng-click="editAccount(clin.account._id)">Edit</button>
				</td>
				<td>
					<button class="btn btn-link" ng-click="accCtrl.delete(clin, clin.account, 'Clinician')">Delete</button>
				</td>
			</tr>
		</table>
	</div>
	<div data-ng-show="!accCtrl.clinicians">
		No clinicians yet
	</div>

	<modal title="View Account" visible="showModal">
	    <div viewacc></div>
 	</modal>

 	<modal title="Edit Account" visible="editModal">
	    <div editacc></div>
 	</modal>
</section>