<div data-ng-controller="RepositoryController" calss="pad">
	<div ng-show="error" class="alert alert-danger" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		{{error}}
	</div>

	<div ng-show="success" class="alert alert-success" role="alert">
		{{success}}
	</div>

	

	<form name="frmaddcontent" data-ng-submit="frmaddcontent.$valid && createContent()" class="form-horizontal" novalidate>
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-10">
				<input type="text" id="name" class="form-control" data-ng-model="content.name" required>
			</div>
		</div>
		<div class="form-group">
			<label for="clin_desc" class="col-sm-2 control-label">Clinician Description</label>
			<div class="col-sm-10">
				<textarea id="clin_desc" class="form-control" data-ng-model="content.clinician_description" required></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="pat_desc" class="col-sm-2 control-label">Patient Description</label>
			<div class="col-sm-10">
				<textarea id="pat_desc" class="form-control" data-ng-model="content.patient_description" required></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="file" class="col-sm-2 control-label">File</label>
			<div class="col-sm-10">
				<div class="btn btn-primary"  ngf-select ng-model="file" ngf-multiple="false">
					Select File
				</div>
			</div>
		</div>

	<!-- 	<div>
		    Upload Log:
		    <pre>{{log}}</pre>
		</div> -->
		
		<!-- <div>
			<input type="submit" value="Create Content" class="btn btn-primary">
		</div> -->
	</form>
	
	
</div>



<!-- 	type: {
		type: String,
		required: true
	},
	
	
	path: {
		type: String,
		required: true
	}, -->