<div>
	<adminnav></adminnav>

	<div class="container body-content panel panel-default">

		<section data-ng-controller="RepositoryController" ng-init="initCatView()">
			<div>
				<div class="top_bar">
					<div class="col-md-5 title">
						<h1>Repository Management</h1>
					</div>
					<div class="col-md-7 title_right">
						<button type="button" class="btn btn-primary" data-ng-click="addCategory()">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Category
						</button>
						<button type="button" class="btn btn-primary" data-ng-click="addContent()">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Content
						</button>
					</div>
				</div>

				<div class="main_content">
					<div class="space_top">
						<div ng-show="error" class="alert alert-danger">
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							{{error}}
						</div>
						<div class="">
							<div class="col-sm-2 center" data-ng-repeat="cat in categories | filter:{parentCategory: {name: 'Master'}}" ng-show="isSelected('558c3049b3ed0904298feefb')">
								<a href="" ng-click="selectView(cat._id)">
									<img src="/images/folder-icon.png" class="img-thumbnail" alt="{{cat.name}}" />
									<br />
									<h4>{{cat.name}}</h4>
								</a>
							</div>

							<div data-ng-repeat="cat in categories | filter:{name: '!Master'}" ng-show="isSelected(cat._id)">
								<div class="panel">
									<button class="btn btn-primary" ng-click="backButton()">
										<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
										Back
									</button>
									<div class="pull-right">
										<button type="button" class="btn btn-link" data-ng-click="editCategory()">
											Edit Category
										</button>
										<button type="button" class="btn btn-link" data-ng-click="deleteCategory(cat._id)">
											Delete Category
										</button>
									</div>
									<br /><br />
									<!-- Sub cats -->
									<div class="col-sm-2 center" data-ng-repeat="subcat in categories | filter:{parentCategory: {_id: cat._id}}">
										<a href="" ng-click="selectView(subcat._id)">
											<img src="/images/folder-icon.png" class="img-thumbnail" alt="{{subcat.name}}" />
											<br />
											<h4>{{subcat.name}}</h4>
										</a>
									</div>
								<!--{{cat.name}} Content-->
								</div>
							</div>
							<!-- content -->
							<div class="col-sm-2 center" data-ng-repeat="item in allContent | filter:{category: catView}">
								<a href="" ng-click="viewContent(item._id)">
									<img src="/images/{{item.type | split:'/':0}}-icon.png" class="img-thumbnail" alt="{{item.type | split:'/':0}}" />
									<br />
									<h4>{{item.name}}</h4>
								</a>
							</div>
						</div>
					</div>	
				</div>

				<modal title="Add Category" visible="addCatModal">
				    <div addcat></div>
			 	</modal>

			 	<modal title="Edit Category" visible="editCatModal">
				    <div editcat></div>
			 	</modal>

			 	<modal title="Add Content" visible="addConModal">
				    <div addcon></div>
			 	</modal>	
		 	</div>
		</section>
	</div>
</div>


