<div data-ng-init="getPatient(patId)">
	<clinnav></clinnav>

	<div class="container body-content panel panel-default">
		<div>
			<div class="top_bar">
				<div class="col-md-5 title">
					<h1>{{patient.account.title}} {{patient.account.firstName}} {{patient.account.lastName}}</h1>
				</div>
				<div class="col-md-7 title_right">
					
				</div>
			</div>
			<div class="main_content">
				<div ng-show="success">
					{{success}}
				</div>
				<div class="container">
					<h4>Account Details</h4>
					<div class="row">
						<div class="col-md-6">
							<div class="col-sm-3 strong">
								Email:
							</div>
							<div class="col-sm-9">
								{{patient.account.email}} 
							</div>
						</div>
						<div class="col-md-6">
							<div class="col-sm-3 strong">
								Username:
							</div>
							<div class="col-sm-9">
								{{patient.account.username}} 
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="col-sm-3 strong">
								Created By:
							</div>
							<div class="col-sm-9">
								{{creator.fullName}} 
							</div> 
						</div>
						<div class="col-md-6">
							<div class="col-sm-3 strong">
								Created On:
							</div>
							<div class="col-sm-9">
								{{patient.created}}  
							</div> 
						</div>
					</div>
					<div class="col-md-12">
						<ul class="nav nav-tabs space_top">
							<li ng-class="{active:isTabSelected(1)}"><a href ng-click="selectTab(1)">Goals</a></li>
							<li ng-class="{active:isTabSelected(2)}"><a href ng-click="selectTab(2)">Treatments</a></li>
							<li ng-class="{active:isTabSelected(3)}"><a href ng-click="selectTab(3)">Information</a></li>
						</ul>
						<div class="panel panel-default tab-border">
				        	<div goals ng-show="isTabSelected(1)"></div>    
				        	<div treatments ng-show="isTabSelected(2)"></div>
				        	<div information ng-show="isTabSelected(3)"></div>
				        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


