<h1>pat deets</h1>

<div data-ng-controller="patManPanelController as panel">
	<ul class="nav nav-tabs space_top">
		<li ng-class="{active:panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Goals</a></li>
		<li ng-class="{active:panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Treatments</a></li>
		<li ng-class="{active:panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">Information</a></li>
	</ul>
	<!-- Content -->
	<div class="panel panel-default tab-border">
        <div goals ng-show="panel.isSelected(1)"></div>    
        <div treatments ng-show="panel.isSelected(2)"></div>
        <div information ng-show="panel.isSelected(3)"></div>
    </div>
</div>