<!DOCTYPE html>
<html data-ng-app="vre">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		<title><%= title %></title>

		<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="/lib/custom-styles/main.css" />
	</head>
	<body ng-app="vre">		
		
		<section ng-view></section>
		
		<script type="text/javascript">
			window.user = <%- user || 'null' %>
		</script>

		<!-- inject-vendor:js -->
		<script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script type="text/javascript" src="/lib/angular/angular.js"></script>
		<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
		<!-- endinject -->

		<!-- core module -->
		<script type="text/javascript" src="/Main/main.client.module.js"></script>
		<script type="text/javascript" src="/Main/controllers/main.client.controller.js"></script>
		<script type="text/javascript" src="/Main/config/main.client.routes.js"></script>

		<!-- administrators module -->
		<script type="text/javascript" src="/administrator/administrator.client.module.js"></script>
		<script type="text/javascript" src="/administrator/controllers/adminPanel.client.controller.js"></script>
		<script type="text/javascript" src="/administrator/directives/administrator.client.directives.js"></script>
		<!--
		<script type="text/javascript" src="/administrator/controllers/administrators.client.controller.js"></script>
		<script type="text/javascript" src="/administrator/services/administrators.client.service.js"></script>
		<script type="text/javascript" src="/administrator/config/administrators.client.routes.js"></script>
		-->
			<!-- admin sub modules -->
				<!-- admin_profile -->
				<script type="text/javascript" src="/administrator/admin_profile/admin_profile.client.module.js"></script>
				<!-- account_management -->
				<script type="text/javascript" src="/administrator/account_management/account_management.client.module.js"></script>
				<!-- repository_management -->
				<script type="text/javascript" src="/administrator/repository_management/repository_management.client.module.js"></script>
		<!-- End of admin module -->

		<!-- clinician module -->
		<script type="text/javascript" src="/clinician/clinician.client.module.js"></script>

		<!-- patient module -->
		<script type="text/javascript" src="/patient/patient.client.module.js"></script>

		<!-- authentication module -->
		<script type="text/javascript" src="/users/users.client.module.js"></script>
		<script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

		<!-- Bootstrapping -->
		<script type="text/javascript" src="/application.js"></script>
	</body>
</html>