<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		<title><%= title %></title>

		<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="/lib/custom-styles/main.css" />
		<link rel="stylesheet" href="/lib/custom-styles/admin.css" />

	</head>
	<body>		
		
		<section ng-view></section>
		
		<script type="text/javascript">
			window.user = <%- user || 'null' %>
		</script>

		<!-- inject-vendor:js -->
		<script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script type="text/javascript" src="/lib/angular/angular.js"></script>
		<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
		<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
		<script type="text/javascript" src="/lib/custom-js/modal.js"></script>
		<!-- endinject -->

		<!-- core module -->
		<script type="text/javascript" src="/main/main.client.module.js"></script>
		<script type="text/javascript" src="/main/controllers/main.client.controller.js"></script>
		<script type="text/javascript" src="/main/config/main.client.routes.js"></script>
		<script type="text/javascript" src="/main/directives/main.client.directives.js"></script>

		<!-- administrators module -->
		<script type="text/javascript" src="/administrator/administrator.client.module.js"></script>
		<script type="text/javascript" src="/administrator/controllers/adminPanel.client.controller.js"></script>
		<script type="text/javascript" src="/administrator/directives/administrator.client.directives.js"></script>



		<!--
		<script type="text/javascript" src="/administrator/controllers/administrators.client.controller.js"></script>
		<script type="text/javascript" src="/administrator/services/administrators.client.service.js"></script>
		<script type="text/javascript" src="/administrator/config/administrators.client.routes.js"></script>
		-->
			<!-- admin sub modules -->
				<!-- admin_profile -->
				<script type="text/javascript" src="/administrator/admin_profile/admin_profile.client.module.js"></script>
				<!-- account_management -->
				<script type="text/javascript" src="/administrator/account_management/account_management.client.module.js"></script>
				<script type="text/javascript" src="/administrator/account_management/controllers/acc_man.client.controller.js"></script>
				<script type="text/javascript" src="/administrator/account_management/controllers/accounts.client.controller.js"></script>
				<script type="text/javascript" src="/administrator/account_management/directives/acc_man.client.directives.js"></script>
				<script type="text/javascript" src="/administrator/account_management/services/accounts.client.service.js"></script>
				<script type="text/javascript" src="/administrator/account_management/services/administrators.client.service.js"></script>
				<script type="text/javascript" src="/administrator/account_management/services/clinicians.client.service.js"></script>
				<script type="text/javascript" src="/administrator/account_management/services/patients.client.service.js"></script>
				<!-- repository_management -->
				<script type="text/javascript" src="/administrator/repository_management/repository_management.client.module.js"></script>
				<script type="text/javascript" src="/administrator/repository_management/controllers/repository.client.controller.js"></script>
				<script type="text/javascript" src="/administrator/repository_management/directives/repository.client.directives.js"></script>
				<script type="text/javascript" src="/administrator/repository_management/services/categories.client.service.js"></script>
		<!-- End of admin module -->

		<!-- clinician module -->
		<script type="text/javascript" src="/clinician/clinician.client.module.js"></script>
		<script type="text/javascript" src="/clinician/controllers/clinPanel.client.controller.js"></script>
		<script type="text/javascript" src="/clinician/directives/clinician.client.directives.js"></script>
			<!-- clin sub modules -->
				<!-- clinProfile -->
				<script type="text/javascript" src="/clinician/clinProfile/clinProfile.client.module.js"></script>
				<!-- patientManagement -->
				<script type="text/javascript" src="/clinician/patientManagement/patientManagement.client.module.js"></script>
				<script type="text/javascript" src="/clinician/patientManagement/controllers/patManPanel.client.controller.js"></script>
				<script type="text/javascript" src="/clinician/patientManagement/directives/patman.client.directives.js"></script>
					<!-- patman sub modules -->
					<!-- goals -->
					<script type="text/javascript" src="/clinician/patientManagement/goals/goals.client.module.js"></script>
					<!-- treatments -->
					<script type="text/javascript" src="/clinician/patientManagement/treatments/treatments.client.module.js"></script>
					<!-- information -->
					<script type="text/javascript" src="/clinician/patientManagement/information/information.client.module.js"></script>
				<!-- repository -->
				<script type="text/javascript" src="/clinician/repository/repository.client.module.js"></script>
		<!-- End of clin module -->

		<!-- patient module -->
		<script type="text/javascript" src="/patient/patient.client.module.js"></script>

		<!-- authentication module -->
		<script type="text/javascript" src="/users/users.client.module.js"></script>
		<script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

		<!-- Bootstrapping -->
		<script type="text/javascript" src="/application.js"></script>
	</body>
</html>