<div ng-init="clinPatients()">
	<table class="table table-striped table-hover" id="table">
		<tr>
			<th>Title</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Username</th>
			<th></th>
		</tr>
		<tr ng-repeat="pat in patientList track by $index">
			<td>{{pat.title}}</td>
			<td>{{pat.firstName}}</td>
			<td>{{pat.lastName}}</td>
			<td>{{pat.username}}</td>
			<td>
				<button class="btn btn-link" ng-click="assign(pat._id)">
					Assign
				</button>
			</td>
		</tr>
	</table>

</div>